<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.google.gwt.fileSharingApp.server.RegisterController</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/filesharingapp/register</url-pattern>
  </servlet-mapping> 

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.google.gwt.fileSharingApp.server.LoginController</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/filesharingapp/login</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.google.gwt.fileSharingApp.server.LogoutController</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/filesharingapp/logout</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>fileUploadServlet</servlet-name>
    <servlet-class>com.google.gwt.fileSharingApp.server.FileUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUploadServlet</servlet-name>
    <url-pattern>/filesharingapp/uploadFile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>shareFilesTabDataServlet</servlet-name>
    <servlet-class>com.google.gwt.fileSharingApp.server.ShareFilesTabDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shareFilesTabDataServlet</servlet-name>
    <url-pattern>/filesharingapp/shareFilesTabData</url-pattern>
  </servlet-mapping> 

  <servlet>
    <servlet-name>updateShareSettingsServlet</servlet-name>
    <servlet-class>com.google.gwt.fileSharingApp.server.UpdateShareSettingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateShareSettingsServlet</servlet-name>
    <url-pattern>/filesharingapp/updateShareSettings</url-pattern>
  </servlet-mapping>  
 
 
    
  <servlet>
    <servlet-name>userAccountsServlet</servlet-name>
    <servlet-class>com.google.gwt.fileSharingApp.server.UserAccountsController</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>userAccountsServlet</servlet-name>
    <url-pattern>/filesharingapp/userAccounts</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>accessibleFilesServlet</servlet-name>
    <servlet-class>com.google.gwt.fileSharingApp.server.AccessibleFilesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accessibleFilesServlet</servlet-name>
    <url-pattern>/filesharingapp/accessibleFiles</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>downloadFileServlet</servlet-name>
    <servlet-class>com.google.gwt.fileSharingApp.server.DownloadFileController</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>downloadFileServlet</servlet-name>
    <url-pattern>/filesharingapp/downloadFile</url-pattern>
  </servlet-mapping> 
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>FileSharingApp.html</welcome-file>
  </welcome-file-list>

</web-app>
